In [1]:
cfile=("/home/dark/Desktop/machine learning/season-1819_csv.csv")

### WHAT WE WILL DO
We will try create the probability of a team winning a game if it was ahead at half time.

We willl use the 2018 -2019 season to create this program.

In [3]:
import pandas as pd
import numpy as np
import pylab as pl
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
df=pd.read_csv(cfile)

df.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,10/08/2018,Man United,Leicester,2,1,H,1,0,H,...,1.79,17,-0.75,1.75,1.70,2.29,2.21,1.55,4.07,7.69
1,E0,11/08/2018,Bournemouth,Cardiff,2,0,H,1,0,H,...,1.83,20,-0.75,2.20,2.13,1.80,1.75,1.88,3.61,4.70
2,E0,11/08/2018,Fulham,Crystal Palace,0,2,A,0,1,A,...,1.87,22,-0.25,2.18,2.11,1.81,1.77,2.62,3.38,2.90
3,E0,11/08/2018,Huddersfield,Chelsea,0,3,A,0,2,A,...,1.84,23,1.00,1.84,1.80,2.13,2.06,7.24,3.95,1.58
4,E0,11/08/2018,Newcastle,Tottenham,1,2,A,1,2,A,...,1.81,20,0.25,2.20,2.12,1.80,1.76,4.74,3.53,1.89

In [9]:
df.describe

<bound method NDFrame.describe of     Div        Date      HomeTeam        AwayTeam  FTHG  FTAG FTR  HTHG  HTAG  \
0    E0  10/08/2018    Man United       Leicester     2     1   H     1     0
1    E0  11/08/2018   Bournemouth         Cardiff     2     0   H     1     0
2    E0  11/08/2018        Fulham  Crystal Palace     0     2   A     0     1
3    E0  11/08/2018  Huddersfield         Chelsea     0     3   A     0     2
4    E0  11/08/2018     Newcastle       Tottenham     1     2   A     1     2
..   ..         ...           ...             ...   ...   ...  ..   ...   ...
375  E0  12/05/2019     Liverpool          Wolves     2     0   H     1     0
376  E0  12/05/2019    Man United         Cardiff     0     2   A     0     1
377  E0  12/05/2019   Southampton    Huddersfield     1     1   D     1     0
378  E0  12/05/2019     Tottenham         Everton     2     2   D     1     0
379  E0  12/05/2019       Watford        West Ham     1     4   A     0     2

    HTR  ... BbAv<2.5  BbAH  BbAHh  BbMxAHH  BbAvAHH  BbMxAHA  BbAvAHA  PSCH  \
0     H  ...     1.79    17  -0.75     1.75     1.70     2.29     2.21  1.55
1     H  ...     1.83    20  -0.75     2.20     2.13     1.80     1.75  1.88
2     A  ...     1.87    22  -0.25     2.18     2.11     1.81     1.77  2.62
3     A  ...     1.84    23   1.00     1.84     1.80     2.13     2.06  7.24
4     A  ...     1.81    20   0.25     2.20     2.12     1.80     1.76  4.74
..   ..  ...      ...   ...    ...      ...      ...      ...      ...   ...
375   H  ...     2.31    22  -1.50     1.98     1.91     2.01     1.95  1.32
376   A  ...     2.95    21  -2.00     2.52     2.32     1.72     1.64  1.30
377   H  ...     2.29    22  -1.50     2.27     2.16     1.80     1.73  1.37
378   H  ...     2.07    19  -0.50     2.13     2.08     1.85     1.80  1.91
379   A  ...     2.44    19  -0.50     2.25     2.19     1.78     1.72  2.11

     PSCD  PSCA
0    4.07  7.69
1    3.61  4.70
2    3.38  2.90
3    3.95  1.58
4    3.53  1.89
..    ...   ...
375  5.89  9.48
376  6.06  9.71
377  5.36  8.49
378  3.81  4.15
379  3.86  3.41

[380 rows x 62 columns]>

# Above is a view of the data of each game played in the premier league
We will now try to estract the games and their half time/ full time statiatcs

In [10]:
dat=df[['Date','HomeTeam','AwayTeam','HTHG','HTAG','FTAG','FTHG']]
dat.head()

         Date      HomeTeam        AwayTeam  HTHG  HTAG  FTAG  FTHG
0  10/08/2018    Man United       Leicester     1     0     1     2
1  11/08/2018   Bournemouth         Cardiff     1     0     0     2
2  11/08/2018        Fulham  Crystal Palace     0     1     2     0
3  11/08/2018  Huddersfield         Chelsea     0     2     3     0
4  11/08/2018     Newcastle       Tottenham     1     2     2     1

# We will describe the meaning of HTHG, HTAG,FTAG,FTHG
HTHG-Half Time Home Goals. 

HTAG- Half Time Away Goals.

FTAG-Full Time Away Goals.

FTHG-Full Time Home Goals.

In [ ]:
if HTHG >